*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size:20px;
    width: 100%;
}

p{
    text-align: justify;
}

.main-page{
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: repeat(11,auto);
}

.div-head{
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(182,182,182);
    padding: 10px;
}

.div-head h1{
    color: rgb(45,3,230);
    flex: 1 1 auto;
    font-size: 24px;
    text-align: center;
}

.div-nav{
    grid-row:2/11;
    grid-column: 1/2;
    background-color: #ccc;
    padding:20px;
}

.div-nav ul{
    list-style-type: none;
    padding: 0;
}
.div-nav li{
    padding-bottom: 12px;
}

.div-art-header{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #f1f1f1;
    padding: 10px;
}


.div-art-img1{
    grid-row:3/5;
    grid-column: 2/3;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text1{
    grid-row:3/5;
    grid-column: 3/4;
    padding: 10px;
    background-color: #f1f1f1;
}


.div-art-img2{
    grid-row:5/7;
    grid-column: 2/3;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text2{
    grid-row:5/7;
    grid-column: 3/4;
    padding: 10px;
    background-color: #f1f1f1;
}


.div-art-img3{
    grid-row:7/9;
    grid-column: 2/3;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text3{
    grid-row:7/9;
    grid-column: 3/4;
    padding: 10px;
    background-color: #f1f1f1;
}



.div-art-video{
    grid-row:9/11;
    grid-column:2/4;
    padding: 10px;
    background-color: #f1f1f1;
}
.div-foot{
    grid-row:11/12;
    grid-column:1/4;
    background-color: rgb(182,182,182);
    color: rgb(45,3,230);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .div-art-img1{
        grid-row:3/4;
        grid-column: 2/4;
    }
    .div-art-text1{
        grid-row:4/5;
        grid-column:2/4;
    }
    .div-art-img2{
        grid-row:5/6;
        grid-column: 2/4;
    }
    .div-art-text2{
        grid-row:6/7;
        grid-column:2/4;
    }
    .div-art-img3{
        grid-row:7/8;
        grid-column: 2/4;
    }
    .div-art-text3{
        grid-row:8/9;
        grid-column:2/4;
    }
}

@media screen and (max-width: 600px){
    .div-head{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .div-nav{
        grid-row:2/3;
        grid-column: 1/4;
    }
    .div-art-header{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .div-art-img1{
        grid-row:4/5;
        grid-column: 1/4;
    }
    .div-art-text1{
        grid-row:5/6;
        grid-column: 1/4;
    }
    .div-art-img2{
        grid-row:6/7;
        grid-column: 1/4;
    }
    .div-art-text2{
        grid-row:7/8;
        grid-column: 1/4;
    }
    .div-art-img3{
        grid-row:8/9;
        grid-column: 1/4;
    }
    .div-art-text3{
        grid-row:9/10;
        grid-column: 1/4;
    }
    .div-art-video{
        grid-row:10/11;
        grid-column: 1/4;
    }
    .div-foot{
        grid-row:11/12;
        grid-column: 1/4;
    }
}
