*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size:20px;
    width: 100%;
}

p{
    text-align: justify;
}

.main-page {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: repeat( 11, auto);
    grid-template-areas: 
        "div-head-area  div-head-area       div-head-area"
        "div-nav-area   div-art-header-area div-art-header-area"
        "div-nav-area   div-art-img1-area   div-art-text1-area"
        "div-nav-area   div-art-img1-area   div-art-text1-area"
        "div-nav-area   div-art-img2-area   div-art-text2-area"
        "div-nav-area   div-art-img2-area   div-art-text2-area"
        "div-nav-area   div-art-img3-area   div-art-text3-area"
        "div-nav-area   div-art-img3-area   div-art-text3-area"
        "div-nav-area   div-art-video-area  div-art-video-area"
        "div-nav-area   div-art-video-area  div-art-video-area"
        "div-foot-area  div-foot-area       div-foot-area";
}

.div-head{
    grid-area: div-head-area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(182,182,182);
    padding: 10px;
}

.div-head h1{
    color: rgb(45,3,230);
    flex: 1 1 auto;
    font-size: 24px;
    text-align: center;
}

.div-nav{
    grid-area: div-nav-area;
    background-color: #ccc;
    padding:20px;
}

.div-nav ul{
    list-style-type: none;
    padding: 0;
}
.div-nav li{
    padding-bottom: 12px;
}

.div-art-header{
    grid-area: div-art-header-area;
    background-color: #f1f1f1;
    padding: 10px;
}


.div-art-img1{
    grid-area: div-art-img1-area;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text1{
    grid-area: div-art-text1-area;
    padding: 10px;
    background-color: #f1f1f1;
}


.div-art-img2{
    grid-area: div-art-img2-area;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text2{
    grid-area: div-art-text2-area;
    padding: 10px;
    background-color: #f1f1f1;
}


.div-art-img3{
    grid-area: div-art-img3-area;
    padding: 10px;
    background-color: #f1f1f1;
}

.div-art-text3{
    grid-area: div-art-text3-area;
    padding: 10px;
    background-color: #f1f1f1;
}



.div-art-video{
    grid-area: div-art-video-area;
    padding: 10px;
    background-color: #f1f1f1;
}
.div-foot{
    grid-area: div-foot-area;
    background-color: rgb(182,182,182);
    color: rgb(45,3,230);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .main-page {
        display: grid;
        grid-template-columns: 2fr 2fr 6fr;
        grid-template-rows: repeat( 11, auto);
        grid-template-areas: 
            "div-head-area  div-head-area       div-head-area"
            "div-nav-area   div-art-header-area div-art-header-area"
            "div-nav-area   div-art-img1-area   div-art-img1-area"
            "div-nav-area   div-art-text1-area   div-art-text1-area"
            "div-nav-area   div-art-img2-area   div-art-img2-area"
            "div-nav-area   div-art-text2-area   div-art-text2-area"
            "div-nav-area   div-art-img3-area   div-art-img3-area"
            "div-nav-area   div-art-text3-area   div-art-text3-area"
            "div-nav-area   div-art-video-area  div-art-video-area"
            "div-nav-area   div-art-video-area  div-art-video-area"
            "div-foot-area  div-foot-area       div-foot-area";
    }
}

@media screen and (max-width: 600px) {
    .main-page {
        display: grid;
        grid-template-columns: 2fr 2fr 6fr;
        grid-template-rows: repeat( 11, auto);
        grid-template-areas: 
            "div-head-area          div-head-area       div-head-area"
            "div-nav-area           div-nav-area        div-nav-area"
            "div-art-header-area    div-art-header-area div-art-header-area"
            "div-art-img1-area      div-art-img1-area   div-art-img1-area"
            "div-art-text1-area     div-art-text1-area  div-art-text1-area"
            "div-art-img2-area      div-art-img2-area   div-art-img2-area"
            "div-art-text2-area     div-art-text2-area  div-art-text2-area"
            "div-art-img3-area      div-art-img3-area   div-art-img3-area"
            "div-art-text3-area     div-art-text3-area  div-art-text3-area"
            "div-art-video-area     div-art-video-area  div-art-video-area"
            "div-foot-area          div-foot-area       div-foot-area";
    }
}
